.BusDetail {
  background-color: white;
  color: black;
  padding: 20px;
  width: 500px;
}

.BusDetail-title {
  font-size: large;
  font-weight: bold;
  width: 450px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.BusDetail-row {
  display: flex;
  flex-direction: row;
}

.BusDetail-pill-row {
  margin-left: 37px;
  gap: 5px;
}

.BusDetail-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.BusDetail-sub-heading {
  font-size: medium;
  font-weight: bold;
}